In [14]:
import pandas as pd
import sklearn as sk
import matplotlib.pyplot as plt

In [40]:
data = pd.read_csv("data_640_validated.csv", encoding='cp1252', encoding_errors="ignore")
age = data['A5']

## locate non numeric values
data['isnumeric'] = pd.to_numeric(data['A5'],errors='coerce').notna()

## get the index of non numeric values
false_indices = data[data['isnumeric'] == False].index

## drop the column with invalid age values
data.drop(index=false_indices, inplace=True)

Index([638, 639], dtype='int64')

,Unnamed: 0,ï..O1,A1_1,A1_2,A2,A3,A4,A5,A6,A7,...,F24,F25,F26,F27,F28,F29,F30,F31,F32,isnumeric
633,252,5/24/2020 22:03,British,EU,Female,Secondary school,A pet,46,White,Married or domestic partnership,...,1,4,4,4,4,1,3,1,1,True
634,328,5/25/2020 4:48,United States,US/Canada,Female,Undergraduate school,Both,48,White,Married or domestic partnership,...,1,5,5,5,5,1,5,3,2,True
635,356,5/25/2020 5:42,British,EU,Female,Graduate school and higher,Both,48,White,Married or domestic partnership,...,2,4,3,4,4,2,3,1,1,True
636,416,5/25/2020 7:29,American,US/Canada,Female,Undergraduate school,A pet,49,White,Widowed,...,1,5,3,5,5,1,4,5,1,True
637,502,5/25/2020 17:34,USA,US/Canada,Female,Undergraduate school,A pet,55,White,Married or domestic partnership,...,1,4,4,5,5,1,5,2,2,True

Empty DataFrame
Columns: [Unnamed: 0, ï..O1, A1_1, A1_2, A2, A3, A4, A5, A6, A7, A8, B1, B2, B3, C1, C2, C3, C4, C5, C6, C7, C8, C9, C10, C11, C12, C13, C14, C15, D1, D2, D3, D4, D5, D6, D7, E1, E2, E3, E4, E5, E6, E7, E8, E9, E10, E11, E12, E13, E14, E15, E16, E17, E18, E19, E20, E21, E22, E23, E24, E25, E26, E27, E28, F1, F2, F3, F4, F5, F6, F7, F8, F9, F10, F11, F12, F13, F14, F15, F16, F17, F18, F19, F20, F21, F22, F23, F24, F25, F26, F27, F28, F29, F30, F31, F32, isnumeric]
Index: []

[0 rows x 97 columns]